<<<<<<< HEAD
<style type='text.css'>
=======
>>>>>>> fb2ec23f8e81e20263c903acf2f8b34146b7ade8


html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 90%;
}

h1  {color: #222;
    font-weight: 600;
    line-height: 1.3;
    margin: 0, 1.3em, 0, 0;
}

h2 {
    color: #008080;
    font-weight: 600;
    line-height: 1.3;
    margin: 0, 0, 0, 0;
}

h3, h4 {color: #222;
    font-weight: 600;
    line-height: 1.3;
    margin: 0, 0, 0, 0;

}

indent {
    margin-left:40px;    
}

a {
    color: #0083e8;
}

img {
    background: transparent;
    max-width: 100%;
}

<<<<<<< HEAD

</style>
=======
>>>>>>> fb2ec23f8e81e20263c903acf2f8b34146b7ade8
